* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

html {
	position: relative;
	left: 0;
	top: 0;
}

html, body {
	height: 100%;
	width: 100%;
	overflow: hidden;
	min-width: 1000px;
}

body {
	font-family: "Georgia";
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	height: 100%;
	max-height: 1000px;
}

.wrapper {
	position: relative;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	background-color: #fff;
	z-index: 150;
	-webkit-box-shadow: 0 0 5px 0 rgba(100, 100, 100, .5);
	        box-shadow: 0 0 5px 0 rgba(100, 100, 100, .5);
	-webkit-transition-duration: .3s;
	        transition-duration: .3s;
}

@media (max-width: 800px) {
	.menu {
		height: 65px;
	}
}


.menu.active .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	opacity: 1;
}

.menu.active {
	height: 100px;
}

.menu .container {
	display: none;
	opacity: 0;
}

.menu .container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;
}

.menu .container .option {
	cursor: pointer;
	font-size: 25px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.menu .container .option input {
	margin: 0 0 0 20px;
	cursor: pointer;
	width: 20px;
	height: 20px;
}

.menu .arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	bottom: -30px;
	left: 49%;
}

.menu .arrow img {
	position: absolute;
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	   object-fit: cover;
	-webkit-transition-duration: .3s;
	        transition-duration: .3s;
}

.menu.active .arrow img {
	-webkit-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.wrapper > .container {
	position: relative;
	-webkit-box-shadow: 0 0 5px 0 rgba(100, 100, 100, .4);
	        box-shadow: 0 0 5px 0 rgba(100, 100, 100, .4);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}


.container__dark {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(100, 100, 100, .5);
	z-index: 90;
}

.wrapper .map {
	margin: 0 auto;
	cursor: -webkit-grab;
	cursor: grab;
}

.wrapper .map:active {
	cursor: -webkit-grabbing;
	cursor: grabbing;
}

.landmark {
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	z-index: 100;
}

.landmark_1 {
	left: 358px;
	top: 128px;
}

.landmark_2 {
	left: 510px;
	top: 330px;
}


.landmark_3 {
	left: 605px;
	top: 465px;
}

.landmark_8 {
	left: 685px;
	top: 400px;
}

.landmark img {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-o-object-fit: cover;
	   object-fit: cover;
	cursor: pointer;
}

.about {
	position: absolute;
	left: -15000px;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(100, 100, 100, .5);
	z-index: 100;
	opacity: 0;
	-webkit-transition-duration: .7s;
	        transition-duration: .7s;
	-webkit-transition-property: opacity;
	transition-property: opacity;
}

.about.active {
	left: 0;
	opacity: 1;
}

.about .container {
	width: 750px;
	height: 350px;
	background-color: #fff;
	-webkit-box-shadow: 0 0 5px 5px rgba(100, 100, 100, .4);
	        box-shadow: 0 0 5px 5px rgba(100, 100, 100, .4);
	border-radius: 5px;
	padding: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

@media (max-width: 700px) {
	.about .container {
		width: 850px;
		height: 450px;
	}

	.about .about__text p {
		font-size: 23px;
	}
}

.about__row {
	display: -ms-grid;
	display: grid;
	-ms-grid-columns: 50% 20px auto;
	grid-template-columns: 50% auto;
	grid-column-gap: 20px;
}

.about__photo {
	position: relative;
}

.about__photo img {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	-o-object-fit: cover;
	   object-fit: cover;
}

.about__text {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	/*overflow-y: scroll;*/
}

.about__text .content {
	/*max-height: 260px;*/
	overflow-y: scroll;
	margin: 10px 0 0 0;
	text-indent: 15px;
}

.about__text p:not(:first-child) {
	margin: 10px 0 0 0;
}

.about__text h3 {
	font-size: 26px;
	text-decoration: underline;
}

.about__close {
	position: absolute;
	right: 5px;
	top: 5px;
	font-size: 20px;
	cursor: pointer;
}

.about__close:hover {
	color: orangered;
}

